{% extends 'user/1-column.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <ul class="list-group mt-3">
        {% for category in pagination %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="stretched-link" href="{{ path('user_category_show', {'id': category.id}) }}">{{ category.name }}</a>
                    <span class="badge badge-primary badge-pill">{{ category.getPosts|length }}</span>
                </li>
        {% endfor %}
    </ul>
{% endblock %}