{% extends 'admin/admin.html.twig' %}

{% block title %}New Page{% endblock %}

{% block body %}
    <a href="{{ path('admin_page_index') }}" class="btn btn-primary mb-2">back to list</a>

    <h1>Create new Page</h1>

    {{ include('admin/page/_form.html.twig') }}
{% endblock %}
