{% extends 'admin/admin.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <a href="{{ path('admin_post_index') }}" class="btn btn-primary mb-2">back to list</a>

    {{ include('admin/post/_delete_form.html.twig') }}

    <h1>Edit Post</h1>

    {{ include('admin/post/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
