{% extends 'admin/admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <a href="{{ path('admin_user_index') }}" class="btn btn-primary mb-2">back to list</a>

    <h1>Create new User</h1>

    {{ include('admin/user/_form.html.twig') }}
{% endblock %}
